@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    color: #cfd2da;
    text-align: left;
    background-color: #252830;
}
a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.container {
    max-width: 90%;
}
.rs:hover, .rs:focus, .rs.selected {
    color: #cfd2da;
    text-decoration: none;
    background-color: #434857;
}
h6 {
    font-weight: bold;
}
.stock-table {
    padding-top: 40px;
}
.album {
    padding-top: 5rem!important;
}
nav.navbar {
    background-color: #1a1c22 !important;
}
.py-5 {
    padding-top: 56px !important;
}
.album .by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.aya:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.aya {
    display: block;
    padding: 1rem 1.25rem !important;
    margin-bottom: -1px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border: 1px solid #434857;
}
.xj {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.ux {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
span.time {
    font-size: 12px;
    color: #777;
}
.pu {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid #434857;
}
.rs {
    width: 100%;
    color: #cfd2da;
    text-align: inherit;
}
.awy {
    width: 33%;
}

button.diff-button {
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
}
button.diff-button.down {
    background-color: #F2494F;
}
span.down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
    position: relative;
    left: 10px;
    top: 15px;
}
span.up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #55C18C;
    position: relative;
    left: 10px;
    top: -15px;
}
button.diff-button.up {
    background-color: #55C18C;
}
.stock-chart {
    margin-bottom: 50px;
}
div[data-highcharts-chart]{
    width: 100% !important;
}